
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
::backdrop{
  width: 100%;
  height: auto;
}
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 20%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #ffd500, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 30px #ccab08;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
 
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .text{
    position: static;
    position: relative;
    left: 100px;
    top: -26px;
  }
  .text1{
    position: static;
    position: relative;
    left: 100px;
    top: -10px;
  }
  .image-gallery img {
    max-width: 22%;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #ffd500, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 30px #ccab08;
  }
  .image-gallery1 img {
    max-width: 20%;
    margin: 10px;
    border-radius: 20%;
  }
  .image-gallery1 {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
  }
  .image-gallery2 img {
    max-width: 22%;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #ffd500, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 10px #ccab08, 0 0 30px #ccab08;
  }
  .image-gallery2 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .contact-form h2 {
    margin-top: 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
 
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  